.header{
	border: solid;
	height: 200px;
	
	
}
.sidbar{
	border: solid;
	float: left;
	width:30%;
	height: 400px;
	
	
}
.content{
	border: solid;
	height: 400px;
	
}
.footer{
	border: solid;
	height: 200px;
}







/*menuCss*/
.ulSupMenu{
	background-color: #0088ff;
	float: right;
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
	
}
.liSupMenu{
	display: inline-block;
	float: right;
	margin: 0px;
	padding: 10px;
	list-style-type: none;
	
}
.nav2SubMenu{
	overflow: hidden;
	height: 100%;
	float: right;
	padding: 0;
	margin-right: 5px;
}
.ul2SubMenu{
	overflow: hidden;
	background-color: #0088aa;
	float: right;
	height: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
}
.li2SubMenu{
	display: block;
	padding: 30px;
	list-style-type: none;
	width: 100%;
	
}
.nav3SubMenu{
	overflow: hidden;
	padding: 0;
	margin: 0;
	float: right;
	height: 100%;
	display: none;
}

.dropdown-content5{
	display: none;
	background-color: #2C68CF;
	float: right;
	width: 70%;
	height: auto;
	-webkit-transition: all 3s ease 0s;
	-o-transition: all 3s ease 0s;
	transition: all 3s ease 0s;
/*	overflow: auto;*/
	
	
}

li:hover{
	background-color: cyan;
}
nav a{
	text-decoration: none;
	color: black;
}

nav.dropdown-content5 li{
	border-bottom: solid;
	border-left: solid;
	text-align: center;
	margin-right: 3px;
}


